<!DOCTYPE html>
<html>

<head>
<html lang="en">
<meta charset="utf-8" />
<meta
  name="description"
  content="Site that shows cafes rates by user in few categories." />
<title>{% block title %}{% endblock %}</title>
{% block style %}

{{ bootstrap.load_css()}}

<!-- Bootstrap JS (optional, for certain components such as dropdowns) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}
</head>
<body>
{% block content %}
 
 
<p>This is a Flask application.</p>

 
{% endblock %}
</body>
</html>